{% extends 'base.html' %}


{% block title %} Lists {% endblock %}

{% block content %}

{% if user.is_authenticated %}
<div class="main-content">
    <h1 class='pageheader'> My List </h1>

    <!-- action buttons -->
    <nav class="nav nav-pills flex-column flex-sm-row">
        <button class="btn bg-primary-c flex-sm-fill text-sm-center nav-link text-white"> 
        <i class='fa fa-plus'> </i> Add New Item
        </button>
    </nav>

    <br>

    <!--Card Deck containing the lists of items-->
    <div class="mt-3 custom-card-deck mx-auto ">


        <div class='custom-card list '>

            <!-- Items in list -->
            <div class='list-content' id="id">
                <!-- individual item -->

               <div class="list-content-item">
                    <div class='input-group'>
                        <div class='input-group-prepend'>
                            <button class="btn btn-danger" type="button" > 23:59 </button>
                        </div>
                        <input type="text" readonly class="form-control form-control-plaintext" aria-label="Name of the Item" value='something bom bom bom'>

                        <div class="input-group-append">
                            <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                <i class='fa fa-chevron-circle-down'></i>
                            </button>
                        </div>
                    </div>

                    <!-- collapsible for more information -->
                    <div class='extra-info collapse rounded' id="collapseExample">

                        <div class='extra-info-time'> 
                            <!-- time it came in and date-->
                            Arrival: 15th March, 1962
                        </div>

                        <div class='extra-info-image'> 
                            <!-- Image, if Any -->
                        </div>

                        <div class='extra-info-shared-people'>
                            <!-- People this item was shared with -->
                        </div>

                    </div>

                </div> 

               <div class="list-content-item">
                    <div class='input-group'>
                        <div class='input-group-prepend'>
                            <button class="btn btn-danger" type="button" > 23:59 </button>
                        </div>
                        <input type="text" readonly class="form-control form-control-plaintext" aria-label="Name of the Item" value='something bom bom bom'>

                        <div class="input-group-append">
                            <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                <i class='fa fa-chevron-circle-down'></i>
                            </button>
                        </div>
                    </div>

                    <!-- collapsible for more information -->
                    <div class='extra-info collapse rounded' id="collapseExample">

                        <div class='extra-info-time'> 
                            <!-- time it came in and date-->
                            Arrival: 15th March, 1962
                        </div>

                        <div class='extra-info-image'> 
                            <!-- Image, if Any -->
                        </div>

                        <div class='extra-info-shared-people'>
                            <!-- People this item was shared with -->
                        </div>

                    </div>

                </div> 

            </div>
        </div>

    </div>
{% else %}
    <h1 class='pageheader'> Please Login to View this Page. </h1>
{% endif %}

{% endblock %}


{% block vue %}
<script>

var app = new Vue({

    el: "#test",
    delimiters: ['[[',']]'],
    data: {
        message: "hello world"
    },

})

</script>
{% endblock  %}