{% extends 'base.html' %}

{% load static %}
{% block title %}
My Account
{% endblock %}

{% block content %}

<div class="main-content mx-auto my-auto">
    <h1 class='pageheader'> My Account </h1>

    <div class="account custom-card shadow rounded mx-auto container p-5">
        <!-- Displaying details of user -->
        <div class="mydetails">
            <label for="username">Username</label>
            <input type="text" class="form-control mb-3" id="username" value="{{profile.user.username}}" disabled>
            
            <label for="bio">Bio</label>
            <input type="textbox" class="form-control mb-3" id="bio" value="{{profile.bio}}" disabled>

            <label for="email">Email</label>
            <input type="email" class="form-control mb-3" id="email" value="{{profile.user.email}}" disabled>
            
            <!-- Edit User modal -->

            <!-- Button trigger modal -->
            <button class="btn btn-outline-success w-100" data-toggle="modal" data-target="#accountModal">Edit</button>

            <!-- Modal -->
            <div class="modal fade" id="accountModal" tabindex="-1" role="dialog" aria-labelledby="modelLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modelLabel">Edit User</h5>

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>

                    </div>
                    <form v-on:submit.prevent="editAccountForm" method="POST" class="modal-body">
                        <label for="username">Username</label>
                        <input type="text" class="form-control mb-3" id="username" value="{{profile.user.username}}">
                        
                        <label for="bio">Bio</label>
                        <input type="textbox" class="form-control mb-3" id="bio" value="{{profile.bio}}">

                        <label for="email">Email</label>
                        <input type="email" class="form-control mb-3" id="email" value="{{profile.user.email}}">
                        <button type="submit" class="btn btn-outline-success w-100">Save</button>
                    </form>
                </div>
                </div>
            </div>


        </div>
    </div>

    
</div>


{% endblock %}

{% block vue %}

<script>
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var url = "{% url 'myaccount' %}";
    const user_id = '{{ user.id }}';
    console.log(user_id);

    axios.defaults.xsrfCookieName = 'csrftoken'
    axios.defaults.xsrfHeaderName = "X-CSRFTOKEN"
</script>


{% verbatim %}
<script>    

    // don't forget to change delimiters to square brackets
    var account = new Vue({
        el: "#accountModal",
        methods:{
            editAccountForm : function(e){
                // function to add item

                // getting the form values
                var username = e.target['username'].value;
                var bio = e.target['bio'].value;
                var email = e.target['email'].value;

                // axios post request to send  data
                axios.post("http://localhost:8000"+url, {
                    headers: {
                        "X-CSRFToken": getCookie('csrftoken'),
                    },
                    data: {
                        "username" : username,
                        "bio": bio,
                        "email": email,
                        "user_id": user_id
                    }
                })

                // reload page
                location.reload()
            }
        }
    })

</script>

{% endverbatim %}
{% endblock %}